@using System.Threading.Tasks
@model dynamic

@{
    ViewBag.Title = "Example";
    Layout = "_Layout";
}

<h2>D3 - Tree</h2>

<div id="myModal" class="modal">
    <form action="@Url.Action("Update")" method="post">
        <!-- Modal content -->
        <div class="modal-content">
            <label for="modalName">Name:</label>
            <input type="hidden" id="id" name="id">
            <input type="hidden" id="type" name="type">
            <input type="text" id="data" name="name" required>
            <div class=buttons>
                <input type="submit" value="Save" />
                <input type="button" value="Cancel" onclick="closeModal()" />
            </div>
        </div>
    </form>
</div>

<div>
    <label for="featuresList">Features:</label>
    <ul id="featuresList">
        <li>Animated connectors</li>
        <li>Modal based edit of node text</li>
        <li>Can update any type of node using assembly name of type in JSON</li>
        <li>Node fill coloring based on node data type</li>
    </ul>
</div>

<svg/>

<br />
<input type="button" value="Reset Data" class="btn btn-danger" onclick="window.location='@Url.Action("ResetData")'" />

@section scripts
{
    <script>
        var treeData = @Html.Raw(ViewBag.JsonData);
    </script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/tree.js"></script>
}