@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-1">
        <h2>Examples</h2>
        <ul>
            <li>@Html.ActionLink("Tree with Modal Editor", "d3Tree", "Home")</li>
        </ul>
    </div>
</div>